*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
header{
    width: 100%;
    min-width: 320px;
    background-color: aquamarine;
    .continer-header{
        width: 100%;
        min-width: 320px;
        background-color: rgb(131, 140, 140);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .container-button-burger{
            button{
                background-color: none;
                border: none;
                img{
                    width: 48px;
                    height: 48px;
                }
            }
            .lupa{
                width: 40px;
                height: 40px;
            }
        }
        .conteiner-logos{
            .logo-microsoft{
                width: 116px;
                height: 44px;
            }
        }
        .conteiner-list-options{
            display: none;

        }
        .conteiner-login-and-more{
            .title-microsoft{
                display: none;
            }
            .car{
                width: 48px;
                height: 48px;
            }
            .second-lupa{
                display: none;
            }
            .inicio-secion{
                width: 48px;
                height: 48px;
            }
        }
    }
}